.body {
  /* padding: 30px; */
  flex: 0.95;
  height: 100vh;
  color: white;
  /* background: linear-gradient(rgb(87, 115, 104), rgba(0, 0, 0, 1)); */
  background: linear-gradient(rgb(38, 38, 38), rgba(0, 0, 0, 1));
  overflow: scroll;
  /* margin-bottom: 200px; */
}

.body::-webkit-scrollbar {
  display: none;
}

.welcome {
  margin: 15px;
}

.playlistInfoContainer {
  height: 280px;
  display: flex;
  align-items: flex-end;
  padding: 40px;
}

.playlist_img {
  object-fit: contain;
  width: 232px;
  height: 232px;
  min-width: 192px;
  margin-right: 20px;
  /* height: 20vw; */
  /* box-shadow: 0 4px 60px rgba(0, 0, 0, 0.3); */
}

.playlistInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.type {
  font-size: 14px;
}

.playlistInfo > h2 {
  font-size: 400%;
  margin-bottom: 10px;
  font-weight: 900;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.playlistInfo > span {
  display: flex;
  margin-top: 5px;
}

.description {
  font-size: 14px;
  color: lightgray;
}

.stats {
  font-size: 14px;
  color: lightgray;
  margin-left: 3px;
}

.owner {
  font-size: 14px;
  font-weight: 700;
}

.playlist__tracks {
  margin-bottom: 160px;
  padding-left: 30px;
}

.playlist__icons {
  /* position: sticky; */
  /* top: 0; */
  color: #1ed15e;
  padding: 20px 20px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.playlist__icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.play {
  font-size: 70px !important;
}

.play:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

/* .favorite {
  font-size: 70px !important;
} */

.more {
  color: lightgray;
}
