.body {
  /* padding: 30px; */
  flex: 0.95;
  height: 100vh;
  color: white;
  /* background: linear-gradient(rgb(87, 115, 104), rgba(0, 0, 0, 1)); */
  background: linear-gradient(rgb(38, 38, 38), rgba(0, 0, 0, 1));
  overflow: scroll;
  /* margin-bottom: 200px; */
}

.body::-webkit-scrollbar {
  display: none;
}

.welcome {
  color: #1db954;
}

.welcomeMsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currentlyPlaying {
  color: white;
  margin-top: 40px;
  margin-bottom: 10px;
}

.currentSong {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: white;
}

.currentSong:hover {
  cursor: pointer;
  /* color: #1db954 !important; */
  transform: scale(1.1);
  transition: 100ms transform ease-in-out;
}

.artistName {
  color: rgb(169, 169, 169);
}

/* .artistName:hover {
  cursor: pointer;
  color: #62d88c !important;
} */

.welcomeMsg > img {
  object-fit: contain;
  width: 300px;
  border-radius: 10px;
}

.welcomeMsg > img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 100ms transform ease-in-out;
  /* width: 320px; */
}

.welcome,
.message,
.errMessage {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.message {
  font-size: 20px;
}

.blameSpotify {
  font-size: 17px;
  color: #5bf08f;
}

.blameSpotifyLink {
  text-decoration: underline;
}

.blameSpotifyLink:hover {
  cursor: pointer;
  color: white;
}

.errorContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.errMessage {
  max-width: 300px;
  font-size: 20px;
  /* display: inline; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

.errMsgContainer {
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.errorWelcome {
  color: red;
  margin-bottom: 10px;
}

.premium {
  color: #1db954;
}

.premium:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

.refresh {
  color: rgb(0, 157, 255);
}

.refresh:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

.playlistInfoContainer {
  height: 280px;
  display: flex;
  align-items: flex-end;
  padding: 40px;
}

.playlist_img {
  object-fit: contain;
  width: 232px;
  height: 232px;
  min-width: 192px;
  margin-right: 20px;
  /* height: 20vw; */
  /* box-shadow: 0 4px 60px rgba(0, 0, 0, 0.3); */
}

.playlistInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.type {
  font-size: 14px;
}

.playlistInfo > h2 {
  font-size: 400%;
  margin-bottom: 10px;
  font-weight: 900;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.playlistInfo > span {
  display: flex;
  margin-top: 5px;
}

.description {
  font-size: 14px;
  color: lightgray;
}

.stats {
  font-size: 14px;
  color: lightgray;
  margin-left: 3px;
}

.owner {
  font-size: 14px;
  font-weight: 700;
}

.playlist__tracks {
  margin-bottom: 160px;
  padding-left: 30px;
}

.playlist__icons {
  /* position: sticky; */
  /* top: 0; */
  color: #1db954;
  padding: 20px 20px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.playlist__icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.play {
  font-size: 70px !important;
}

.play:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

/* .favorite {
  font-size: 70px !important;
} */

.more {
  color: lightgray;
}
