.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 60px;
  width: 98%;
  background-color: #282828;
  padding: 20px;
}

.footer__left {
  flex: 0.3;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  width: 300px;
  margin-right: 20px;
}

.songImg {
  object-fit: contain;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  margin-right: 10px;
}

.songName {
  font-size: 14px;
  white-space: nowrap;
}

.artist {
  color: #b3b3b3;
  font-size: 12px;
  white-space: nowrap;
}

.footer__center {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  /* padding: 0 100px; */
  color: white;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  /* min-width: 300px; */
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  max-width: 300px;
  margin-top: 10px;
}

.progress {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* max-width: 500px; */
}

.currentProgress,
.duration {
  font-size: 10px;
  overflow: visible;
}

.currentProgress {
  margin-right: 10px;
}

.duration {
  margin-left: 10px;
  overflow: visible;
}

.footer__right {
  flex: 0.3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer__right * .MuiSlider-root,
.footer__center * .MuiSlider-root {
  color: #bdbdbd;
}

.footer__right * .MuiSlider-root:hover,
.footer__center * .MuiSlider-root:hover {
  color: #1ed15e;
  cursor: auto;
}

.footer__right * .MuiSlider-rail,
.footer__center * .MuiSlider-rail {
  background-color: lightgray;
}

.footer__right * .MuiSlider-track,
.footer__center * .MuiSlider-track {
  align-self: center;
}

.footer__right * .MuiSlider-thumb,
.footer__center * .MuiSlider-thumb {
  overflow: visible;
  background-color: white;
  width: 12px;
  height: 12px;
}

.footer__right * .MuiSlider-thumb:hover,
.footer__center * .MuiSlider-thumb:hover {
  background-color: white;
  width: 12px;
  height: 12px;
}

.footer__right * .MuiSlider-thumb.Mui-focusVisible,
.footer__right * .MuiSlider-thumb:hover,
.footer__center * .MuiSlider-thumb.Mui-focusVisible,
.footer__center * .MuiSlider-thumb:hover {
  box-shadow: 0px 0px 0px 0px rgba(30, 209, 94, 0.16);
}

.footer__right * .MuiSlider-thumb.MuiSlider-active,
.footer__center * .MuiSlider-thumb.MuiSlider-active {
  box-shadow: 0px 0px 0px 0px rgba(30, 209, 94, 0.16);
  background-color: white;
}

.footer__right * .MuiSlider-thumb::after,
.footer__center * .MuiSlider-thumb::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50%;
}

.rightControls {
  /* width: 100%; */
  margin-left: auto;
  margin-right: 10px;
}

.footer__green {
  color: #1ed15e;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.playlistButton {
  color: lightgray;
}

.playlistButton:hover {
  color: white;
  /* transform: scale(1.2) !important;
  transition: transform 0.2s ease-in-out; */
}
