.headerContainer {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 232px;
  /* width: 92%; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 10px 20px;
  white-space: normal;
}

.header__left {
  flex: 1;
  /* background-color: white; */
  /* color: gray; */
  /* border-radius: 30px; */
  display: flex;
  align-items: center;
  padding: 6px 48px 6px 10px;
  height: 30px;
  width: 268px;
  min-width: 60px;
  margin-right: 10px;
}

.leftControls {
}

.playlistHeader {
  display: flex;
  align-items: center;
}

.playlistNameHeader {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerPlay {
  color: #1db954;
  font-size: 45px !important;
  background: radial-gradient(white 50%, transparent 50%);
  margin-right: 20px;
}

.arrows {
  margin-right: 50px;
}

.search {
  min-width: 44px;
  width: 100%;
  height: 28px;
  border: none;
}

.search:focus {
  outline: none;
}

.header__right {
  /* flex: 0.2; */
  display: flex;
  min-width: 180px;
  align-items: center;
  margin-right: 20px;
}

.header__right > h4 {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
