.sidebarOption {
  display: flex;
  color: #b3b3b3;
  height: 40px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  transition: 100ms color ease-in;
  white-space: nowrap;
}

.sidebarOptionActive {
  display: flex;
  color: #1db954;
  height: 40px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  transition: 100ms color ease-in;
  white-space: nowrap;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption__icon {
  margin-right: 16px;
}

.optionText {
  font-size: 13px;
  text-overflow: ellipsis;
  /* margin-top: ; */
}
