.songRow {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}

.songRow:hover {
  /* cursor: pointer; */
  border-radius: 10px;
  background-color: rgb(91, 91, 91);
  opacity: 0.9;
}

.songRow__title {
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.songRow__title > img {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  margin-right: 20px;
}

.songRow__song > span {
  font-size: 16px;
  /* font-weight: 600; */
}

.songRow__song > p {
  font-size: 14px;
  color: lightgray;
}

.songRow__album > p {
  font-size: 14px;
  color: lightgray;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.songRow__duration > p {
  font-size: 14px;
  /* margin-right: auto; */
}
